<div class="center">
    <section id="content">

        <h1 class="subheader">Crear Articulo</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />

                @if (!title.valid && title.touched){
                <small>
                    El titulo no es válido
                </small>
                }
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>

                @if (!content.valid && content.touched){
                <small>
                    El contenido no es válido
                </small>
                }
            </div>

            <!--<div class="form-group">

                <label for="image">Imagen</label>
                <br>
                <input type="file" name="image0" #image="ngModel" [(ngModel)]="article.image" />
                  
                @if (!image.valid && image.touched){
                <small>
                    El titulo no es válido
                </small>
                }
            </div>-->
            <div class="form-group fileUpload">
                <label for="file">Imagen (Opcional)</label>
                <br>
                <input name="file" id="file" type="file" class="file-input" #file="ngModel" [(ngModel)]="article.image"
                    (change)="onFileSelected($event)" #fileUpload>
                @if (file.dirty){
                <p>
                    Nombre del archivo: {{fileName}}
                </p>
                } @else {
                <p>Sin archivos seleccionados</p>
                }
                <br>
                <button class="btn btn-success" (click)="fileUpload.click()" type="button">Seleccionar
                    archivo...</button>
                <br>

                <button class="btn btn-primary" type="button" (click)="subir()">Cargar imagen</button>

                <br>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid" />
            <br>

        </form>

    </section>

    <hr>
    <app-sidebar></app-sidebar>
</div>